<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- v-model:表单元素双向绑定
    使用范围：表单元素（input textarea select）
    作用：表单元素的值进行双向绑定
    用法:v-model="变量"
    -->
    <div id="app">
      <input type="text" v-model="msg" />
      <p>您输入了:{{msg}}</p>
    </div>
    <script src="./vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          msg: "xxx",
        },
      });
    </script>
  </body>
</html>
