.form-sent .basic-ipt {
    border: 1px solid #e6e6e6;
}
.form-sent .basic-ipt {
    width: 100%;
    height: 0.45rem;
    padding: 0 0.05rem;
    box-sizing: border-box;
    border-radius: 0.04rem;
}
.basic-ipt {
    border: none;
    font-size: 0.14rem;
    font-family: "Microsoft YaHei", arial, simsun, SimHei;
}
input {
    outline: none;
}

.form .form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    padding-top: 0.2rem;
}

.form .form-item .txt {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    display: block;
    
}
.form-btn {
    padding: 0.2rem 0.15rem 0.1rem 0.15rem;
}

.form-hd {
    text-align: center;
    padding: 0.1rem 0.15rem;
}

.form-hd .form-tit {
    font-weight: normal;
    font-size: 0.16rem;
}

.form-sent {
    margin: 0.1rem 0.1rem 0;
}

.btn-primary {
    display: block;
    font-size: 0.25rem;
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
    color: #fff;
    background: #e6e6e6;
    border-radius: 0.04rem;
    box-sizing: border-box;
    outline: none;
}