<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>兔聊小视频分享</title>
<meta itemprop="name" content="分享兔聊标签 # 哈西万达广场 # 给你，好多视频等你来看">
<meta itemprop="description" content="黑龙江省哈尔滨市南岗区中兴大道168号">
<meta itemprop="image"
	content="https://tx2.a.yximgs.com/upic/2018/05/31/20/BMjAxODA1MzEyMDQ2MjZfNzIzMjk2MzUwXzY0OTQ5MTY2MTBfMl8z_Bca2546636d20da99be09df1b5464d756.jpg">
<meta property="og:title" content="分享兔聊标签 # 哈西万达广场 # 给你，好多视频等你来看">
<meta property="og:description" content="黑龙江省哈尔滨市南岗区中兴大道168号">
<meta property="og:type" content="article">
<meta property="og:image"
	content="https://tx2.a.yximgs.com/upic/2018/05/31/20/BMjAxODA1MzEyMDQ2MjZfNzIzMjk2MzUwXzY0OTQ5MTY2MTBfMl8z_Bca2546636d20da99be09df1b5464d756.jpg">
<meta property="og:image:width" content="720">
<meta property="og:image:height" content="1280">
<meta property="og:site_name" content="m.kwai.com">
<meta property="og:url" content="m.kwai.com">
<meta property="og:siteUrl"
	content="http://m.kuaishou.com/share/tag?fid=959827014&amp;poiId=68954959&amp;from=singlemessage&amp;isappinstalled=0">
<meta name="twitter:card" content="article">
<meta name="twitter:description" content="黑龙江省哈尔滨市南岗区中兴大道168号">
<meta name="twitter:app:id:googleplay" content="com.google.android.Kwai">
<meta name="twitter:image"
	content="https://tx2.a.yximgs.com/upic/2018/05/31/20/BMjAxODA1MzEyMDQ2MjZfNzIzMjk2MzUwXzY0OTQ5MTY2MTBfMl8z_Bca2546636d20da99be09df1b5464d756.jpg">
<meta name="twitter:url"
	content="http://m.kuaishou.com/share/tag?fid=959827014&amp;poiId=68954959&amp;from=singlemessage&amp;isappinstalled=0">
<meta name="twitter:title" content="分享兔聊标签 # 哈西万达广场 # 给你，好多视频等你来看">
<link rel="image_src"
	href="https://tx2.a.yximgs.com/upic/2018/05/31/20/BMjAxODA1MzEyMDQ2MjZfNzIzMjk2MzUwXzY0OTQ5MTY2MTBfMl8z_Bca2546636d20da99be09df1b5464d756.jpg">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="x5-orientation" content="portrait">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="dns-prefetch" href="//www.kuaishou.com">
<link rel="dns-prefetch" href="//static.yximgs.com">
<link rel="shortcut icon" type="image/ico"
	href="//static.yximgs.com/s1/i/favicon-526610705d.ico">
<link rel="apple-touch-icon-precomposed"
	href="//static.yximgs.com/s1/i/logo-27cc52fed4.png">
<link rel="stylesheet" type="text/css"
	href="//static.yximgs.com/s1/css/dep/normalize-4.1.1.css">
<link rel="stylesheet" type="text/css"
	href="//static.yximgs.com/s1/css/pages/share/tag-9c3d31ffc1.css">
</head>
<body class="body_ ">
	<div style="height: 0; overflow: hidden;">
		<img id="hotids"
			src="https://tx2.a.yximgs.com/upic/2018/05/31/20/BMjAxODA1MzEyMDQ2MjZfNzIzMjk2MzUwXzY0OTQ5MTY2MTBfMl8z_Bca2546636d20da99be09df1b5464d756.jpg"
			data-hotids="">
	</div>
	<div id="pcursor" class="hide"></div>
	<div class="content">
		<div class="topbar-words">
			<div class="pos-info" id="nameStr">
				<i class="iconfont icon-detail_icon_position"></i>哈尔滨市 哈西万达广场
			</div>
			<div class="open-btn-wrap" id="downloadButton" href="javascript:void(0)">
				<div class="open-btn" style="margin-top: 20px">
					<i class="iconfont icon-btn_camera_white_nor"></i><span id="shoot">打开兔聊去拍摄</span>
				</div>
			</div>
		</div>
		<div class="new-choose">
			<div class="title">最新</div>
			<ul id="new-choose-wrap">
				<div class="js-load-more"
					style="overflow: hidden; width: 100%; height: 44px; line-height: 44px; text-align: center; font-size: 16px; color: #888;">loading...</div>
				<li><a target="_blank" class="new-item"
					href="/photo/723296350/5191524475752228377">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/31/20/BMjAxODA1MzEyMDQ2MjZfNzIzMjk2MzUwXzY0OTQ5MTY2MTBfMl8z_Bca2546636d20da99be09df1b5464d756.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/152186378/5215449851806714334">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/31/20/BMjAxODA1MzEyMDI4MjRfMTUyMTg2Mzc4XzY0OTQ3MjE2ODFfMl8z_B6890216d621e1458f3c746c600807e73.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/505787319/5224175575674403994">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/31/18/BMjAxODA1MzExODU5NDBfNTA1Nzg3MzE5XzY0OTM0Nzc5MTNfMl8z_B0c748033c1b82dcf441aa9da3c28fded.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/152407524/5228116225028211807">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/31/17/BMjAxODA1MzExNzExMDFfMTUyNDA3NTI0XzY0OTIxNTI4NDRfMV8z_B7baa5c6fbee3a73f908a4f0f8725fd1c.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/806173148/5224175572182823379">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/31/15/BMjAxODA1MzExNTUyMzhfODA2MTczMTQ4XzY0OTEzNzY2MzdfMl82_B6cc5d0ff353d65642d23354dac25b351.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/870904116/5226427373160865740">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/31/15/BMjAxODA1MzExNTUxMTVfODcwOTA0MTE2XzY0OTEzNjM1NThfMl8z_B3642c23aab80ad93e0e89eb8e8360f8f.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/870904116/5199687250786628109">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/31/15/BMjAxODA1MzExNTAzMDZfODcwOTA0MTE2XzY0OTA5MjA4NjBfMl8z_B90a411d07e1652ebe65737856139df9e.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/42789796/5207005600780660153">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/31/10/BMjAxODA1MzExMDQ4MTBfNDI3ODk3OTZfNjQ4ODM5MTQ3NV8yXzM=_Ba2170d570e5a2bdf0cc3e846c8293969.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/540598343/5236278998129009408">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/31/10/BMjAxODA1MzExMDA1NThfNTQwNTk4MzQzXzY0ODgwMDc2OTZfMV8z_B163274fb377c20c15a138cf006e5793f.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/580302680/5205035276920195204">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/30/21/BMjAxODA1MzAyMTI5NDZfNTgwMzAyNjgwXzY0ODQxNzY2ODlfMl8z_Be29957c421b41286c0577792a7fb62b5.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/600880735/5228116224711535215">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/30/20/BMjAxODA1MzAyMDI5NTlfNjAwODgwNzM1XzY0ODMzNDg4MzFfMV8z_Bec7fbbb35281e5e221cae5d684a7e836.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/461075606/5191524476842152976">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/30/20/BMjAxODA1MzAyMDIyMjZfNDYxMDc1NjA2XzY0ODMyNDU3NzFfMl8z_B79a9ed2358ce8c20fb7c749c7f5fceaa.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/433563208/5216294274949882625">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/30/20/BMjAxODA1MzAyMDIwNTJfNDMzNTYzMjA4XzY0ODMyMjQ2MDJfMV8z_B497e0e34664749b8519f9add3ea4d12e.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/500775698/5258515521500280961">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/30/19/BMjAxODA1MzAxOTUyNDZfNTAwNzc1Njk4XzY0ODI4NDc3MjBfMl8z_Bd4e11df32ff3bf3db529c0c0b6e665e6.jpg)"></div>
				</a></li>
				<li><a target="_blank" class="new-item"
					href="/photo/19436659/5249226847323565651">
						<div
							style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/30/18/BMjAxODA1MzAxODM4NDVfMTk0MzY2NTlfNjQ4MTg5MjE5M18yXzY=_Bfc84d60957a2a07565200813d0a3c57c.jpg)"></div>
				</a></li>
			</ul>
		</div>
	</div>
	<script
		src="https://hm.baidu.com/hm.js?86a27b7db2c5c0ae37fee4a8a35033ee"></script>
	<script>
		var pageLogId = undefined
	</script>
	<script type="text/javascript"src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../js/quartz.js"></script>
	<script type="text/javascript" src="//res.cdn.openinstall.io/openinstall.js"></script>
	<script type="text/javascript" src="js/share.js"></script>
	<script>
		var pageData = {
			"share" : {
				"title" : "分享兔聊标签 # 哈西万达广场 # 给你，好多视频等你来看",
				"desc" : "黑龙江省哈尔滨市南岗区中兴大道168号",
				"imgUrl" : "https://tx2.a.yximgs.com/upic/2018/05/31/20/BMjAxODA1MzEyMDQ2MjZfNzIzMjk2MzUwXzY0OTQ5MTY2MTBfMl8z_Bca2546636d20da99be09df1b5464d756.jpg",
				"summary" : "黑龙江省哈尔滨市南岗区中兴大道168号"
			}
		}
		var shareOfValue;
		var shareType;
		$(function() {
			shareOfValue = getMyURLParameter("shareOfValue");
			shareType = getMyURLParameter("shareType");
			if(shareOfValue){
				getInfo(shareOfValue);
			}
		});
		
		function getInfo(shareOfValue){
			var isVideoCollection = 1;
			$.ajax({
	   			url : "../../view/share/getShare",
	   			type : "GET",
	   			data : {"isVideoCollection":isVideoCollection,"shareOfValue":decodeURI(shareOfValue),"clientType":0,"shareType":shareType},
	   			dataType : "json",
	   			success : function(data) {
	   				if(data.code=="0"){
	   					var  infolist = data.data.info;
	   					$("#strValue").text(data.data.strValue);
	   					var html="";
	   					if(infolist && infolist.length>0){
	   						$.each(infolist,function(index,value){
	   							html +="<li><a target=\"_blank\" class=\"new-item\""+
	   							"href=\"shareVideoMobile.html?shareOfValue="+value.actionId+"\">"+
	   							"<div style=\"background-image: url("+value.videoIcon+")\"></div>"+
	   							"</a></li>"
	   						});
	   						$("#new-choose-wrap").html(html);
	   					}
	   					$("#nameStr").html("<i class=\"iconfont icon-detail_icon_position\"></i>"+decodeURI(data.data.strValue));
	   					if(shareType ==1 ){
	   						document.title = "分享兔聊位置 #"+decodeURI(data.data.strValue) + "# 给你，好多视频等你来看";
	   					}else if(shareType ==2 ){
	   						document.title = "分享兔聊话题 #"+decodeURI(data.data.strValue) + "# 给你，好多视频等你来看";
	   					}else if(shareType ==3 ){
	   						document.title = "分享兔聊音乐 #"+decodeURI(data.data.strValue) + "# 给你，好多视频等你来看";
	   					}else{
	   						document.title = "分享兔聊给你，好多视频等你来看";
	   					}
	   					
	   				}else{
	   					alert("出现未知错误,请联系我们！");
	   				}
	   			},
	   			error : function(x, h, e) {
	   				alert("出现未知错误,请联系我们！");
	   			}
	   		});
		}	
		
		
		function openClient(){
	        var ua = navigator.userAgent;
	        if (ua.indexOf(" MicroMessenger/") > -1) {
	            //微信中显示遮罩提示在浏览器中打开或进入应用宝
	        	 //微信中显示遮罩提示在浏览器中打开或进入应用宝
	        	$('#alertbg').css('display', 'block');
	    		$('#alertTitle3').css('display', 'block');
	            $('#abg').css('display', 'block');
	        } else {
	            if (ua.indexOf("Android") > -1) {
	            	window.location.href = 'rablive://';
	                t = Date.now();
	                setTimeout(function(){
	                    if (Date.now() - t < 1200) {
	                        location.href = 'http://a.app.qq.com/o/simple.jsp?pkgname=cn.folkcam.rablive.jwrablive';
	                    }
	                }, 1000);
	            } else if (ua.indexOf("iPhone") > -1 || ua.indexOf("iPad") > -1 || ua.indexOf("iPod") > -1) {
//	             	location.href = 'jwlive://';
	            	location.href = 'https://itunes.apple.com/us/app/tu-liao-liao-ni-xiang-liao/id1155891716?l=zh&ls=1&mt=8';
	                t = Date.now();
	                setTimeout(function(){
	                    if (Date.now() - t < 1200) {
	                        location.href = 'https://itunes.apple.com/us/app/tu-liao-liao-ni-xiang-liao/id1155891716?l=zh&ls=1&mt=8';
	                    }
	                }, 1000);
	            } else {
	            	window.location.href = "http://www.rabbitlive.cn";
	            }
	        }
	    }
		function bgclick() {
		    closeAlert();
		    $('#alertbg').css('display', 'none');
		    $('#abg').css('display', 'none');
		}
		function closeAlert() {
		    $('#alertbg').css('display', 'none');
		    $('#alert1').css('display', 'none');
		    $('#alertTitle').css('display', 'none');
		    $('#alertTitle2').css('display', 'none');
		    $('#alertTitle3').css('display', 'none');
		}
		
		function getMyURLParameter(param) {
	    	try {
	    		hostUrl = window.location.href;
	    		getMyUrl(hostUrl);
	    	} catch (e) {
	    		hostUrl = document.URL;
	    		getMyUrl(hostUrl);
	    	}
	    	for (;;) {
	    		if (hostUrl.endWith && hostUrl.endWith('#')) {
	    			hostUrl = hostUrl.substring(0, hostUrl.length - 1);
	    		} else {
	    			break;
	    		}
	    	}

	    	var params = (hostUrl.substr(hostUrl.indexOf("?") + 1)).split("&");
	    	if (params != null) {
	    		for (var i = 0; i < params.length; i++) {
	    			var strsName = params[i].substr(0, params[i].indexOf("="));
	    			var strsValue = params[i]
	    					.substr(params[i].indexOf("=") + 1);
	    			if (strsName == param) {
	    				return strsValue;
	    			}
	    		}
	    	}
	    }    
	    function getMyUrl(uri){
	    	var counter = 0;
	    	var index = 0;
	    	for(var i=0;i<uri.length;i++){
	    		if(uri[i]==='?' && index < 2){
	    			counter = i;
	    			index++;
	    		}
	    	}
	    	if(index>1){
	    		hostUrl = uri.substring(0,counter);
	    	}else{
	    		hostUrl = uri;
	    	}

	    }

	    function getMyURLParameter(param) {
	    	try {
	    		hostUrl = window.location.href;
	    		getMyUrl(hostUrl);
	    	} catch (e) {
	    		hostUrl = document.URL;
	    		getMyUrl(hostUrl);
	    	}
	    	for (;;) {
	    		if (hostUrl.endWith && hostUrl.endWith('#')) {
	    			hostUrl = hostUrl.substring(0, hostUrl.length - 1);
	    		} else {
	    			break;
	    		}
	    	}

	    	var params = (hostUrl.substr(hostUrl.indexOf("?") + 1)).split("&");
	    	if (params != null) {
	    		for (var i = 0; i < params.length; i++) {
	    			var strsName = params[i].substr(0, params[i].indexOf("="));
	    			var strsValue = params[i]
	    					.substr(params[i].indexOf("=") + 1);
	    			if (strsName == param) {
	    				return strsValue;
	    			}
	    		}
	    	}
	    }
	</script>
 	
</body>
</html>