<html style="font-size: 50px;">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>兔聊，记录世界记录你</title>
<meta itemprop="name">
<meta itemprop="image">
<meta name="twitter:card" content="player">
<meta name="twitter:site" content="@Kwai">
<meta name="twitter:url" content="undefined">
<meta name="twitter:title" content="undefined">
<meta name="twitter:description" content="undefined">
<meta name="twitter:image" content="undefined">
<meta name="twitter:app:id:iphone" content="440948110">
<meta name="twitter:app:name:iphone" content="Kwai">
<meta name="twitter:app:id:ipad" content="440948110">
<meta name="twitter:app:name:ipad" content="Kwai">
<meta name="twitter:app:id:googleplay" content="com.google.android.Kwai">
<meta name="twitter:app:name:googleplay" content="Kwai">
<meta name="twitter:app:url:googleplay" content="undefined">
<meta name="twitter:player" content="undefined">
<meta name="twitter:player:width" content="undefined">
<meta name="twitter:player:height" content="undefined">
<meta property="og:url" content="undefined">
<meta property="og:title" content="undefined">
<meta property="og:image" content="undefined">
<meta property="fb:app_id" content="655018784691173">
<meta property="og:image:width" content="undefined">
<meta property="og:image:height" content="undefined">
<meta property="og:description" content="undefined">
<meta property="og:type" content="article">
<link rel="alternate"
	href="android-app://com.kwai.video/ikwai/work/undefined">
<link rel="alternate" href="ios-app://1338605092/ikwai/work/undefined">
<meta property="al:ios:app_name" content="Kwai">
<meta property="al:ios:url" content="ikwai://work/undefined">
<meta property="al:ios:app_store_id" content="1338605092">
<meta property="al:android:app_name" content="Kwai">
<meta property="al:android:package" content="com.kwai.video">
<meta property="al:android:url" content="ikwai://work/undefined">
<meta property="al:web:url" content="undefined">
<link rel="image_src" href="undefined">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta name="keywords">
<meta name="description" itemprop="description" content="兔聊，记录世界记录你">
<meta name="format-detection" content="telephone=no">
<meta name="x5-orientation" content="portrait">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="dns-prefetch" href="//www.kuaishou.com">
<link rel="dns-prefetch" href="//static.yximgs.com">
<link rel="shortcut icon" type="image/ico"
	href="//static.yximgs.com/s1/i/favicon-526610705d.ico">
<link rel="apple-touch-icon-precomposed"
	href="//static.yximgs.com/s1/i/logo-27cc52fed4.png">
<link rel="stylesheet" type="text/css"
	href="//static.yximgs.com/s1/css/dep/normalize-4.1.1.css">
<link rel="stylesheet" type="text/css"
	href="//static.yximgs.com/s1/css/components/play/page-6d1086886c.css">
</head>
<body class="body_share_photo ">
	<script
		src="https://hm.baidu.com/hm.js?86a27b7db2c5c0ae37fee4a8a35033ee"></script>
	<script>
		window.banFastClick = true;
		!function a() {
			var width = Math.min(document.documentElement.clientWidth, 750);
			var e = width / 7.5;
			document.documentElement.style.fontSize = e + 'px';
			window.addEventListener('resize', a);
		}();
	</script>
	<div class="play_error">
		<div class="icon"></div>
		<div class="text" id="alertText">作品在审核中，请稍后观看。</div>
		<a data-position="photo-not-exists" id="downloadButton" href="javascript:void(0)" class="btn _download">打开兔聊，查看更多有意思的视频</a>
	</div>
	<div id="download_offset"></div>
	<div class="play_hot_video_title">
		<div class="text">更多有趣作品</div>
	</div>
	<div class="play_right_tip">特别提示：作品由用户分享，兔聊仅提供发布平台</div>
	<div class="play_download_holder"></div>
	<div id="download_bar" style="display: none;" logp="底部"
		class="play_download_bar">
		<a data-position="footer" data-scheme-url="kwai://home/hot"
			log="打开兔聊bar" class="play_download _download"><div class="icon"></div>
			<div class="text">打开兔聊，发现更多精彩</div>
			<div class="arrow"></div></a>
	</div>
	<div id="download_pop" class="hide">
		<div class="play_download_pop_bg"></div>
		<div class="play_download_pop_box"  id="downloadButton" href="javascript:void(0)" data-clipboard-text="1">
			<div class="h1">下载兔聊</div>
			<div class="h2">查看更多有意思的视频</div>
			<div class="img"></div>
			<div class="btns">
				<div class="btn cancel _cancel">忽略</div>
				<div data-position="popup"
					data-universal-link="https://m.ssl.kuaishou.com/app/home/hot"
					data-scheme-url="kwai://home/hot" class="btn _download">立即下载</div>
			</div>
		</div>
	</div>
	<script>
		var pageLogId = 123
	</script>
	<script type="text/javascript"src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript"
		src="//static.yximgs.com/s1/js/dep/bundle/zep_fast_req_underscore.js"></script>
	<script type="text/javascript"
		src="//static.yximgs.com/s1/js/modules/ks-log/index-01b846c579.js"></script>
	<script type="text/javascript"
		src="//static.yximgs.com/s1/js/dep/scroload.js"></script>
	<script type="text/javascript"
		src="//static.yximgs.com/s1/archive/lib/KsWebBridge-0.0.6.js"></script>
	<script type="text/javascript" language="javascript" src="../../view/js/common.js"></script>
	<script src="js/layer/layer.js" ></script>
	<script type="text/javascript" src="../js/quartz.js"></script>
	<script type="text/javascript" src="//res.cdn.openinstall.io/openinstall.js"></script>
	<script type="text/javascript" src="js/share.js"></script>	
	<script>
		// 老的IOS客户端会调这个函数
		window.setIosEnviroment = function() {
		};
		// require 配置
		require.config({
			baseUrl : '//static.yximgs.com/s1/js',
			paths : {
				wx : '//res.wx.qq.com/open/js/jweixin-1.2.0',
				'ks-mui' : 'dep/ks-mui'
			}
		});

		// FastClick绑定
		if (!window.banFastClick && 'addEventListener' in document) {
			document.addEventListener('DOMContentLoaded', function() {
				FastClick.attach(document.body);
			}, false);
		}
	</script>
	<script>
// 		var pageData = {
// 			"autoPlay" : false,
// 			"video" : {},
// 			"share" : {
// 				"title" : "兔聊，记录世界记录你",
// 				"link" : "http://m.kuaishou.com/photo/3xch334b67fi3ke/3x9av9b4t8fxrrq?userId=3xch334b67fi3ke&photoId=3x9av9b4t8fxrrq&cc=share_wxms&timestamp=1527766803357&from=message&ksjs_sig=1527766903605&share_times=2",
// 				"desc" : "兔聊，记录世界记录你",
// 				"extLog" : "shareId=&docId=&shareType=&groupName="
// 			}
// 		}
	$(function() {
		var actionType = getURLParameter("actionType");
		
		if(actionType && (actionType==1 || actionType==0)){
			$("#alertText").html("视频正在审核中，请耐心等待。");
		}else if(actionType && (actionType==3 || actionType==4)){
			$("#alertText").html("该视频已被删除，无法播放。");
		}else if(actionType && actionType==2){
			$("#alertText").html("该视频已被作者设置观看权限，你暂时无权观看。");
		}
		
		
	}); 
	
	</script>
<!-- 	<script src="//static.yximgs.com/s1/js/pages/play/play-a13646d280.js"></script> -->
</body>
</html>