<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>爱吃的绵er🎈 发了一个兔聊作品，一起来看！</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>兔聊App - 陌生人的一对一私密视频</title>
<meta name="description" content="在兔聊App，你可以和陌生的女孩子一对一私密视频聊天。无聊的时候，在兔聊App可以找附近的女孩子私密视频哦！线上聊，线下约。小恩小惠，女孩陪你聊到天亮。">
<meta name="keywords" content="陪聊,陪聊App,美女陪聊,陪聊兼职,陪聊网,陪聊软件,陪聊师,网上兼职陪聊,兔聊App,兔聊IOS,Android安卓下载,土聊,涂聊,图聊">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="alternate"
	href="android-app://com.kwai.video/ikwai/work/5210946250202220298">
<link rel="alternate"
	href="ios-app://1338605092/ikwai/work/5210946250202220298">
<meta property="al:ios:app_name" content="Kwai">
<meta property="al:ios:url" content="ikwai://work/5210946250202220298">
<meta property="al:ios:app_store_id" content="1338605092">
<meta property="al:android:app_name" content="Kwai">
<meta property="al:android:url"
	content="ikwai://work/5210946250202220298">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta name="keywords" content="兔聊,GIF兔聊,兔聊官网">
<meta name="format-detection" content="telephone=no">
<meta name="x5-orientation" content="portrait">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="dns-prefetch" href="//www.kuaishou.com">
<link rel="dns-prefetch" href="//static.yximgs.com">
<link rel="shortcut icon" type="image/ico"
	href="//static.yximgs.com/s1/i/favicon-526610705d.ico">
<link rel="stylesheet" type="text/css"
	href="css/normalize.css">
<link rel="stylesheet" type="text/css"
	href="css/playPage.css">
</head>
<body logp="视频分享" class="body_share_photo ">
	<script
		src="https://hm.baidu.com/hm.js?86a27b7db2c5c0ae37fee4a8a35033ee"></script>
	<script>
		window.banFastClick = true;
		!function a() {
			var width = Math.min(document.documentElement.clientWidth, 750);
			var e = width / 7.5;
			document.documentElement.style.fontSize = e + 'px';
			window.addEventListener('resize', a);
		}();
	</script>
	<div style="height: 0; overflow: hidden;">
		<img
			src="http://tx2.a.yximgs.com/upic/2018/05/10/17/BMjAxODA1MTAxNzA4NDZfMjQ5MjMzMjI0XzYyMzA1MTA1OTlfMl8z_B997d86c1d143822adf87bb0ff65635b5.jpg">
	</div>
	<div id="play_user" class="play_user">
		<div data-position="profile" log="打开兔聊关注"
			class="jump _download" id="downloadButton" href="javascript:void(0)" data-clipboard-text="1">
<!-- 			<div class="icon"></div> -->
			<div class="text">打开兔聊关注TA</div>
		</div>
		<a href="javascript:void(0)" id="downloadButton1" logj="作者头像" class="link"><img
			src="http://ali2.a.yximgs.com/uhead/AB/2018/03/08/10/BMjAxODAzMDgxMDU3MDFfMjQ5MjMzMjI0XzJfaGQ5MjhfODEx_s.jpg"
			class="avatar" id="avatar">
		<div class="name" id="name"></div>
			<div class="id"></div></a>
	</div>
	<div id="video-box" class="play_video t-video st-init">
		<video id="video-player"
			poster="http://cdn.folkcam.cn/rab-Person/PhotoAlbum/150218138021100.jpeg"
			src="http://video.rablive.cn/424a53112d0c48e4929900e31c4a3ba8/925eaee6d21c467eb462fe04c999fc11-5287d2089db37e62345123a1be272f8b.mp4"
			alt="我在减肥.一天饿的蔫了吧唧的." style="height: 13.3333rem; max-height: 568px;"
			loop="" preload="auto" webkit-playsinline="" playsinline=""
			class="video"></video>
		<div
			style="background-image: url(http://cdn.folkcam.cn/rab-Person/PhotoAlbum/150218138021100.jpeg)"
			class="poster" id="poster"></div>
		<div id="play_btn" log="播放按钮" class="play"></div>
		<div class="load-wrap">
			<div class="load-line-scale">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	
	<div id="download_offset"></div>
	<div class="play_right_tip">特别提示：作品由用户分享，兔聊仅提供发布平台</div>
	<div class="play_download_holder"></div>
	<div id="download_bar" style="display: none" logp="底部"
		class="play_download_bar">
		<a data-position="footer" data-scheme-url="kwai://home/hot"
			log="打开兔聊bar" class="play_download _download"><div class="icon"></div>
			<div class="text">打开兔聊，发现更多精彩</div>
			<div class="arrow"></div></a>
	</div>
	<div id="download_pop" class="hide" style="display: none;">
	<div class="kwd" id="kwd" style="display: none"></div>
<!-- 		<div class="play_download_pop_bg"></div> -->
<!-- 		<div class="play_download_pop_box"> -->
<!-- 			<div class="h1">下载兔聊</div> -->
<!-- 			<div class="h2">查看更多有意思的视频</div> -->
<!-- 			<div class="img"></div> -->
<!-- 			<div class="btns"> -->
<!-- 				<div class="btn cancel _cancel">忽略</div> -->
<!-- 				<div data-position="popup" -->
<!-- 					data-universal-link="https://m.ssl.kuaishou.com/app/home/hot" -->
<!-- 					data-scheme-url="kwai://home/hot" class="btn _download">立即下载</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
	</div>

	<script>
		var pageLogId = 123
	</script>
	<script type="text/javascript"src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript"
		src="//static.yximgs.com/s1/js/dep/bundle/zep_fast_req_underscore.js"></script>
	<script type="text/javascript" data-page-tag="视频分享"
		src="//static.yximgs.com/s1/js/modules/ks-log/index-01b846c579.js"></script>
	<script type="text/javascript"
		src="//static.yximgs.com/s1/js/dep/scroload.js"></script>
	<script type="text/javascript"
		src="//static.yximgs.com/s1/archive/lib/KsWebBridge-0.0.6.js"></script>
	<script type="text/javascript" language="javascript" src="../../view/js/common.js"></script>
	<script src="js/layer/layer.js" ></script>
	<script type="text/javascript" src="../js/quartz.js"></script>
	<script type="text/javascript" src="//res.cdn.openinstall.io/openinstall.js"></script>
	<script type="text/javascript" src="js/share.js"></script>
	<script>
		// 老的IOS客户端会调这个函数
		window.setIosEnviroment = function() {
		};
		// require 配置
		require.config({
			baseUrl : '//static.yximgs.com/s1/js',
			paths : {
				wx : '//res.wx.qq.com/open/js/jweixin-1.2.0',
				'ks-mui' : 'dep/ks-mui'
			}
		});
		// FastClick绑定
		if (!window.banFastClick && 'addEventListener' in document) {
			document.addEventListener('DOMContentLoaded', function() {
				FastClick.attach(document.body);
			}, false);
		}
	</script>
	<script>
	var shareOfValue;
	$(function() {
		shareOfValue = getMyURLParameter("shareOfValue");
		if(shareOfValue){
			getInfo(shareOfValue);
		}
		
		
	});
	var videoUrl="";
	var videoWidth,videoHeight;
	function getInfo(shareOfValue){
		var isVideoCollection = 0;
   		$.ajax({
   			url : "../../view/share/getShare",
   			type : "GET",
   			data : {"isVideoCollection":0,"shareOfValue":shareOfValue,"clientType":1},
   			dataType : "json",
   			success : function(data) {
   				if(data.code=="0"){
   					$("#poster").css("background-image","url("+data.data.info[0].videoIcon+")");
   					$("#video-player").attr('poster',data.data.info[0].videoIcon);
   					$("#video-player").attr('src',data.data.info[0].videoUrl);
   					$("#name").html(data.data.info[0].nickName);
   					$(".id").html("兔聊号:"+data.data.info[0].customerId);
   					$("#avatar").attr('src',data.data.info[0].photo);
   					document.title = data.data.info[0].nickName + "发了一个兔聊作品，一起来看！";
   					videoUrl = data.data.info[0].videoUrl;
   					videoWidth = data.data.info[0].width;
   					videoHeight = data.data.info[0].height;
   				}else{
   					window.location.href = "shareAuditVideo.html?code="+code+"&actionType="+data.code;
   				}
   			},
   			error : function(x, h, e) {
   				alert("出现未知错误,请联系我们！");
   			}
   		});
	}
	var pageData = {
			"autoPlay" : false,
			"video" : {
				"id" : "52109462502022202981",
				"src" : videoUrl,
				"fileType" : "video/mp4",
				"poster" : "http://cdn.folkcam.cn/rab-Person/PhotoAlbum/150218138021100.jpeg",
				"caption" : "我在减肥.一天饿的蔫了吧唧的.",
				"type" : "video",
				"imageCDN" : null,
				"images" : null,
				"width" : videoWidth,
				"height" : videoHeight
			},
			"user" : {
				"avatar" : "http://ali2.a.yximgs.com/uhead/AB/2018/03/08/10/BMjAxODAzMDgxMDU3MDFfMjQ5MjMzMjI0XzJfaGQ5MjhfODEx_s.jpg",
				"name" : "1爱吃的绵er🎈",
				"id" : 249233224,
				"sex" : "F",
				"kwaiId" : "mianyang66881"
			}
	}
	</script>
	<script src="js/paly.js"></script>
</body>
</html>