<!DOCTYPE html>
<html style="font-size: 100px;"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>获奖名单公布</title>
<meta name="description" content="在兔聊App，你可以和陌生的女孩子一对一私密视频聊天。无聊的时候，在兔聊App可以找附近的女孩子私密视频哦！线上聊，线下约。小恩小惠，女孩陪你聊到天亮。">
<meta name="keywords" content="陪聊,陪聊App,美女陪聊,陪聊兼职,陪聊网,陪聊软件,陪聊师,网上兼职陪聊,兔聊App,兔聊IOS,Android安卓下载,土聊,涂聊,图聊">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
 <script type="text/javascript" src="script/jquery-2.1.0.js"></script>
  <style>
  body{width: 100%;font-size:0.14rem; font-family:"Microsoft YaHei",arial,simsun,SimHei;background:#ffffff;color:#000 }
.div_tip{padding-left: 10px; padding-top: 20px;font-size: 16px; color: #ff2222}
</style>
  </head>
<body style="width:100%;height:100%;">
<img src="images/3.jpg" style="width:100%;height:100%;background-size:cover;">
   <script type="text/javascript">
  
   </script> 	
</body></html>