<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head lang="zh-CN">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible"content="IE=edge,chrome=1">
<meta name="renderer"content="webkit">
<meta name="viewport"content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable"content="yes">
<meta name="apple-mobile-web-app-status-bar-style"content="black-translucent">
<meta name="format-detection"content="telephone=no">
<meta name="screen-orientation"content="portrait">
<meta name="x5-orientation"content="portrait">
<meta charset="UTF-8">
<meta property="qc:admins" content="22304736413453452667433156367" />
<meta property="wb:webmaster" content="9fab9772ab7abdf8" />
<title>兔聊P2P</title>
<script>//判断屏幕宽度计算字号大小
(function(doc, win) { var docEl = doc.documentElement, resizeEvt ='orientationchange'in window ? 'orientationchange':'resize', recalc = function() { var clientWidth = docEl.clientWidth;
		if (!clientWidth) { return; }
	docEl.style.fontSize = 100 * (clientWidth / 375) + 'px'; }
	;
	if (!doc.addEventListener) { return; }
win.addEventListener(resizeEvt, recalc, false); doc.addEventListener('DOMContentLoaded', recalc, false); recalc(); }
)(document, window); 
</script>
<link rel="stylesheet" type="text/css"
	href="../view/assets/css/withdraw_mini.css" />
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3285106209" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101357802" charset="utf-8"></script>
</head>
<body>
<div class="login-wrap"><h2>请登录您的兔聊账号</h2><div class="login-way">
<h3>请选择登录方式</h3>
<!-- <ul class="login-way-list"> -->


<wb:login-button type="3,2" onlogin="login" onlogout="logout">登录按钮</wb:login-button>
<!-- <a href="login.html"><li class="js_login_mobile_code"data-type="mobile_code"><i class="icon-login icon-phone"></i>手机号</li></a> -->

 <a href="#" id="qqLoginBtn" style="background-image:../view/assets/images/Connect_logo_7.png"></a>
<span id="qqLoginBtn"  style="width: 63px;height: 24px;"></span>
<script type="text/javascript">
	QC.Login({
		btnId:"qqLoginBtn"	//插入按钮的节点id
	});
</script>
</div>
</div>
</body>
<script type="text/javascript">
WB2.anyWhere(function(W){
    W.widget.connectButton({
        id: "wb_connect_btn",	
        type:"3,4",
        callback : {
            login:function(o){	//登录后的回调函数
            },	
            logout:function(){	//退出后的回调函数
            }
        }
    });
});

QC.Login({
    btnId:"qqLoginBtn"	//插入按钮的节点id
})
</script>
</html>