<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>觅依App - 陌生人的一对一私密视频</title>
<meta name="description" content="在觅依App，你可以和陌生的女孩子一对一私密视频聊天。无聊的时候，在觅依App可以找附近的女孩子私密视频哦！线上聊，线下约。小恩小惠，女孩陪你聊到天亮。" />
<meta name="keywords" content="陪聊,陪聊App,美女陪聊,陪聊兼职,陪聊网,陪聊软件,陪聊师,网上兼职陪聊,觅依App,觅依IOS,Android安卓下载,土聊,涂聊,图聊" />
<link rel="stylesheet" href="sharePc_files/style.css" type="text/css" />
<script src="sharePc_files/hm.js"></script>
<script type="text/javascript" src="sharePc_files/jquery-1.js"></script><!--jQuery 库-->
<script type="text/javascript" src="sharePc_files/jquery.js"></script> <!--"swing"-->
<script type="text/javascript" src="js/quartz.js"></script> 
<script>
	var witht=$(window).width();
	//获取Url的参数
	function getUrlParam(url, name) {
		var pattern = new RegExp("[?&]" + name + "\=([^&]+)", "g");
		var matcher = pattern.exec(url);
		var items = null;
		if (matcher != null) {
			try {
				items = decodeURIComponent(decodeURIComponent(matcher[1]));
			} catch (e) {
				try {
					items = decodeURIComponent(matcher[1]);
				} catch (e) {
					items = matcher[1];
				}
			}
		}
		return items;
	}
	var str;
	var url = window.location;
	code = getUrlParam(url, 'code');
	if(code){
		str = "code="+code;
	}
	if(witht<=1200 && str){
		window.location.href="m/miyishare.html?"+str;
	}
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?1d5bf504e5f06961bcfcac23222ad596";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
    	<div class="top">
			<div class="wid">
            	<div class="logo">
                	<img src="sharePc_files/logo.png" alt="">
                    <div class="text">
                    	<h2>觅依</h2>
                        <p>Rabbit Live</p>
                    </div>
                </div>
                <a href="http://www.rablive.cn/Business/index.html" target="_blank" class="Recharge-sw">商务合作</a> <a href="#" class="Recharge">充值</a>
            </div>
        </div><!--top-->
        <a href="#" class="more" style="display: block;"><img src="sharePc_files/ico4.png" alt=""></a>
        <div class="cirl">
        	<ul>
        		<li class="acti"></li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
				<li class=""></li>
                <li class=""></li>
        	</ul>
        </div>
            
            <div class="page_one te1">
            	<div class="wid">
            	<div class="layout">
                	<div class="conleft">
                    	<h1>发现身边“美”一刻</h1>
                        <div class="down">
                        	<a href="https://itunes.apple.com/cn/app/id1155891716" target="_blank"><img src="sharePc_files/ico0.png" alt=""></a>
                            <a href="http://jw-version.oss-cn-shenzhen.aliyuncs.com/android/RabLive3.1.1.2.apk"><img src="sharePc_files/ico1.png" alt=""></a>
                        </div>
                        <div class="code"><img src="sharePc_files/ico2.png" alt=""><p>扫描二维码免费下载</p></div>
                    </div><!--conleft-->
                    <div class="conright">
                    	<img src="sharePc_files/ico3.png" alt="">
                    </div>
                </div>
            </div>
            </div>
            
            <div class="page_two public wid te1">
            	<div class="text">
                	<p>一对一私密视频</p>
                    <p class="p1">看你想看，聊你想聊</p>
                </div>
                <div class="pict">
                	<img src="sharePc_files/ico7.png" alt="">
                </div>
            </div>
            <div class="page_three public wid te1">
            	<div class="text">
                	<p>附近的女神</p>
                    <p class="p1">线上聊，线下约</p>
                </div>
                <div class="pict">
                	<img src="sharePc_files/ico6.png" alt="">
                </div>
            </div>
            <div class="page_four public wid te1">
            	<div class="text">
                	<p>有钱任性</p>
                    <p class="p1">打赏礼物（玫瑰、香水、别墅）<br>没有搞不定的女神</p>
                </div>
                <div class="pict">
                	<img src="sharePc_files/ico8.png" alt="">
                </div>
            </div>
            
			 <div class="page_four public wid te1">
            	<div class="text">
                	<p>有偿聊天</p>
                    <p class="p1">小恩小惠，女神陪你决战到天亮</p>
                </div>
                <div class="pict">
                	<img src="sharePc_files/ico99.png" alt="">
                </div>
            </div>
			
			<div class="page_four public wid te1">
            	<div class="text">
                	<p>女神的动态</p>
                    <p class="p1">陌生人的朋友圈，喜欢就撩</p>
                </div>
                <div class="pict">
                	<img src="sharePc_files/ico100.png" alt="">
                </div>
            </div>
            <div class="page_five wid te1">
            	<div class="content">
                    <h1>联系我们</h1>
                    <ul>
                      
						<li>
                            <h2>商务合作</h2>
                            <p>联系人：余女士</p>
                            <p>邮箱：business@folkcam.cn</p>
                        </li>
						
                        <li>
                            <h2>媒体与品牌合作</h2>
                            <p>联系人：余女士</p>
                            <p>邮箱：business@folkcam.cn</p>
                        </li>
						
                        <li>
                            <h2>渠道推广</h2>
                            <p>联系：余女士</p>
                            <p>邮箱：business@folkcam.cn</p>
                        </li>
						
                    </ul>
                    <dl>
                        <dd>
                            <img src="sharePc_files/wxsubscribee.jpg" alt="">
                            <p>微信订阅号</p>
                        </dd>
                        <dd>
                            <img src="sharePc_files/wxService.jpg" alt="">
                            <p>微信服务号</p>
                        </dd>
                        <dd>
                            <img src="sharePc_files/weibo.png" alt="">
                            <p>觅依官方微博</p>
                        </dd>
                    </dl>
                    <!-- 
					<div class="copyright">
                        <p>copyright © </p>
                    </div>
					-->
                </div>
                <div class="bot_menu">
                	<span><a href="http://www.rablive.cn/agreement.html" target="_blank">用户协议</a>丨<a href="http://www.rablive.cn/privacy.html" target="_blank">隐私协议</a>丨<a href="http://www.rablive.cn/contact.html" target="_blank">联系我们</a></span>
                    <span>Copyright © 2016 <a href="http://www.rablive.cn/">觅依 </a>. All Rights Reserved.<a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备16028473号-2 </a></span>
					<span><a href="http://www.rablive.cn/img/www.png" width="600" height="800" target="_blank">网络文化经营许可证 粤网文[2017] 1842-215号 </a></span>
                </div>
            </div>
            <div class="albox">
            	<div class="layout">
                	<i></i>
                    <img src="sharePc_files/ico2-2.png" alt="">
                    <h2>请使用微信扫描二维码进行充值</h2>
                </div>
            </div>

			 <div class="albox-sw">
            	<div class="layout-sw">
                	<i></i>
                    <img src="sharePc_files/ico2-2.png" alt="">
                    <h2>请使用微信扫描二维码进行充值</h2>
                </div>
            </div>

<script src="sharePc_files/z_stat.js" language="JavaScript"></script><script src="sharePc_files/core.js" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=1262075891" target="_blank" title="站长统计">站长统计</a>

<script src="sharePc_files/type.js"></script><!--自定义封装函数-->
<script>
var i=0;
	$(".cirl li").click(function(){
			i=$(this).index();
			if(i==6){$("a.more").hide();}else{$("a.more").show();}
			$(this).addClass("acti").siblings().removeClass("acti");
			var otop=$(".te1").eq(i).offset().top;
			$(window).scrollTop(otop-50);
		})
		$(window).scroll(function(){
				var srot=$(window).scrollTop();
				var j=0;
				$(".te1").each(function(index, element) {

                    if(srot>=$(this).offset().top-50){
							j++;
							$(".cirl li").eq(index).addClass("acti").siblings().removeClass("acti");
						}
                });
				if(j==7){$("a.more").hide();}else{$("a.more").show();}

			})

			$(".albox .layout i").click(function(){
					$(this).parents(".albox").fadeOut();
				})
		$(".top .Recharge").click(function(){
					$(".albox").fadeIn();
				})
</script>

</body></html>