<html style="font-size: 50px;">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>独特你范姐 发了一个快手作品，一起来看！</title>
<meta itemprop="name" content="独特你范姐 发了一个快手作品，一起来看！">
<meta itemprop="image"
	content="https://tx2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzAzMDFfNjYwNzQxMTkzXzYzNzA2OTI4NTNfMl8z_B92d628321124b8d627441965166849dd.jpg">
<meta name="twitter:card" content="player">
<meta name="twitter:site" content="@Kwai">
<meta name="twitter:url"
	content="http://m.kuaishou.com/photo/660741193/5240501123750513658">
<meta name="twitter:title" content="独特你范姐 发了一个快手作品，一起来看！">
<meta name="twitter:description" content="吹黑了！！！">
<meta name="twitter:image"
	content="https://tx2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzAzMDFfNjYwNzQxMTkzXzYzNzA2OTI4NTNfMl8z_B92d628321124b8d627441965166849dd.jpg">
<meta name="twitter:app:id:iphone" content="440948110">
<meta name="twitter:app:name:iphone" content="Kwai">
<meta name="twitter:app:id:ipad" content="440948110">
<meta name="twitter:app:name:ipad" content="Kwai">
<meta name="twitter:app:id:googleplay" content="com.google.android.Kwai">
<meta name="twitter:app:name:googleplay" content="Kwai">
<meta name="twitter:app:url:googleplay"
	content="https://txmov2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzAzMDFfNjYwNzQxMTkzXzYzNzA2OTI4NTNfMl8z_b_B5eab31003662a22851c6ccf8c4a78beb.mp4">
<meta name="twitter:player"
	content="https://txmov2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzAzMDFfNjYwNzQxMTkzXzYzNzA2OTI4NTNfMl8z_b_B5eab31003662a22851c6ccf8c4a78beb.mp4">
<meta name="twitter:player:width" content="540">
<meta name="twitter:player:height" content="960">
<meta property="og:url"
	content="http://m.kuaishou.com/photo/660741193/5240501123750513658">
<meta property="og:title" content="独特你范姐 发了一个快手作品，一起来看！">
<meta property="og:image"
	content="https://tx2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzAzMDFfNjYwNzQxMTkzXzYzNzA2OTI4NTNfMl8z_B92d628321124b8d627441965166849dd.jpg">
<meta property="fb:app_id" content="655018784691173">
<meta property="og:image:width" content="540">
<meta property="og:image:height" content="960">
<meta property="og:description" content="吹黑了！！！">
<meta property="og:type" content="article">
<link rel="alternate"
	href="android-app://com.kwai.video/ikwai/work/5240501123750513658">
<link rel="alternate"
	href="ios-app://1338605092/ikwai/work/5240501123750513658">
<meta property="al:ios:app_name" content="Kwai">
<meta property="al:ios:url" content="ikwai://work/5240501123750513658">
<meta property="al:ios:app_store_id" content="1338605092">
<meta property="al:android:app_name" content="Kwai">
<meta property="al:android:package" content="com.kwai.video">
<meta property="al:android:url"
	content="ikwai://work/5240501123750513658">
<meta property="al:web:url"
	content="http://m.kuaishou.com/photo/660741193/5240501123750513658">
<link rel="image_src"
	href="https://tx2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzAzMDFfNjYwNzQxMTkzXzYzNzA2OTI4NTNfMl8z_B92d628321124b8d627441965166849dd.jpg">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta name="keywords" content="独特你范姐,快手,GIF快手,快手官网">
<meta name="description" itemprop="description" content="吹黑了！！！">
<meta name="format-detection" content="telephone=no">
<meta name="x5-orientation" content="portrait">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="dns-prefetch" href="//www.kuaishou.com">
<link rel="dns-prefetch" href="//static.yximgs.com">
<link rel="shortcut icon" type="image/ico"
	href="//static.yximgs.com/s1/i/favicon-526610705d.ico">
<link rel="apple-touch-icon-precomposed"
	href="//static.yximgs.com/s1/i/logo-27cc52fed4.png">
<link rel="stylesheet" type="text/css"
	href="//static.yximgs.com/s1/css/dep/normalize-4.1.1.css">
<link rel="stylesheet" type="text/css"
	href="//static.yximgs.com/s1/css/components/play/page-6d1086886c.css">
</head>
<body logp="视频分享" class="body_share_photo ">
	<script
		src="https://hm.baidu.com/hm.js?86a27b7db2c5c0ae37fee4a8a35033ee"></script>
	<script>
		window.banFastClick = true;
		!function a() {
			var width = Math.min(document.documentElement.clientWidth, 750);
			var e = width / 7.5;
			document.documentElement.style.fontSize = e + 'px';
			window.addEventListener('resize', a);
		}();
	</script>
	<div style="height: 0; overflow: hidden;">
		<img
			src="https://tx2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzAzMDFfNjYwNzQxMTkzXzYzNzA2OTI4NTNfMl8z_B92d628321124b8d627441965166849dd.jpg">
	</div>
	<div id="play_user" class="play_user">
		<div data-position="profile"
			data-scheme-url="kwai://profile/660741193" log="打开快手关注"
			class="jump _download">
			<div class="icon"></div>
			<div class="text">打开快手关注她</div>
		</div>
		<a href="/user/660741193" logj="作者头像" class="link"><img
			src="https://tx2.a.yximgs.com/uhead/AB/2018/05/07/20/BMjAxODA1MDcyMDEwMTlfNjYwNzQxMTkzXzJfaGQ5MDhfMjA=_s.jpg"
			class="avatar">
		<div class="name">独特你范姐</div>
			<div class="id">快手ID:660741193</div></a>
	</div>
	<div id="video-box" class="play_video t-video st-init">
		<video id="video-player"
			poster="https://tx2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzAzMDFfNjYwNzQxMTkzXzYzNzA2OTI4NTNfMl8z_B92d628321124b8d627441965166849dd.jpg"
			src="https://txmov2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzAzMDFfNjYwNzQxMTkzXzYzNzA2OTI4NTNfMl8z_b_B5eab31003662a22851c6ccf8c4a78beb.mp4"
			alt="吹黑了！！！" style="height: 13.3333rem; max-height: 667px;" loop=""
			preload="auto" webkit-playsinline="" playsinline="" class="video"></video>
		<div
			style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzAzMDFfNjYwNzQxMTkzXzYzNzA2OTI4NTNfMl8z_B92d628321124b8d627441965166849dd.jpg)"
			class="poster"></div>
		<div id="play_btn" log="播放按钮" class="play"></div>
		<div class="load-wrap">
			<div class="load-line-scale">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<div id="other_video" logp="作者其它作品" class="play_other_video"
		style="touch-action: pan-y pinch-zoom;">
		<div class="wrap"
			style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
			<a href="/photo/3x3nihyessbnxtw/3xi3a5u6umt6c8g/"
				style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/17/15/BMjAxODA1MTcxNTEwMDFfNjYwNzQxMTkzXzYzMTY2MTM5NTBfMl8z_B91ee9c0a8ed757695b47528f32bd1a40.jpg)"
				logj="" class="item"></a><a
				href="/photo/3x3nihyessbnxtw/3x92z726zwgtrcg/"
				style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/17/15/BMjAxODA1MTcxNTA3MjFfNjYwNzQxMTkzXzYzMTY1OTE3MzFfMl8z_B4ddbb75870b44763abe10d2334c911fb.jpg)"
				logj="" class="item"></a><a
				href="/photo/3x3nihyessbnxtw/3xgdwcux26sqs3m/"
				style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/15/16/BMjAxODA1MTUxNjAwMjdfNjYwNzQxMTkzXzYyOTU1MTI2MzhfMl8z_B188f0fc9639763db6417e5d1b66fc2d0.jpg)"
				logj="" class="item"></a><a
				href="/photo/3x3nihyessbnxtw/3xiye6qhd53v5ds/"
				style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/15/15/BMjAxODA1MTUxNTUxMTVfNjYwNzQxMTkzXzYyOTU0MzA1NjVfMl8z_Ba4e91582b9a8aaf5618d9c73e344dd23.jpg)"
				logj="" class="item"></a><a
				href="/photo/3x3nihyessbnxtw/3xxuyuc686cshg9/"
				style="background-image: url(https://tx2.a.yximgs.com/upic/2018/05/14/18/BMjAxODA1MTQxODU1MDlfNjYwNzQxMTkzXzYyODY1MzM3MjZfMl8z_B8e259f1b32e1bd3344e10fffc2056d0e.jpg)"
				logj="" class="item"></a>
			<div data-position="profile_more"
				data-universal-link="https://m.ssl.kuaishou.com/app/profile/660741193"
				data-scheme-url="kwai://profile/660741193" log="查看更多"
				class="item _download">
				<div class="view-more">查看更多</div>
				<div class="iconfont icon-nav-right"></div>
			</div>
		</div>
	</div>
	<div id="download_offset"></div>
	<div class="play_hot_video_title">
		<div class="text">更多有趣作品</div>
	</div>
	<div id="hots" logp="其他有趣视频" class="play_hot_videos">
		<div class="col">
			<a href="/photo/3xbvscsnzm523ss/3xaycqn3afryywm/" logj=""
				class="item"><div title="50斤大物干起来。双击"
					style="padding-bottom: 177.77777777777777%;"
					data-lazy="https://tx2.a.yximgs.com/upic/2018/05/20/10/BMjAxODA1MjAxMDM3MDlfNDEzMzU4NzE4XzYzNTQ1NDQxNjNfMl8z_B696704f45e56ffc6b9a4dd1a352f69a9.jpg"
					class="img"></div>
				<div class="bar">
					<div class="icon"></div>
					<div class="count">676</div>
				</div>
				<img
				data-lazy="https://tx2.a.yximgs.com/uhead/AB/2017/01/08/09/BMjAxNzAxMDgwOTE0MzJfNDEzMzU4NzE4XzFfaGQyMw==.jpg"
				alt="摄钓英雄：耗 子" class="avatar"
				src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"></a><a
				href="/photo/3xxwuc2747nerjg/3xbctmhi43xj7du/" logj="" class="item"><div
					title="喜欢就拿走" style="padding-bottom: 75%;"
					data-lazy="https://tx2.a.yximgs.com/upic/2018/05/20/11/BMjAxODA1MjAxMTAxNDdfODM3MjE5Njg0XzYzNTQ5NDQ1MjRfMV8z_B091121dd36506885a49440a9cdced3f8.jpg"
					class="img"></div>
				<div class="bar">
					<div class="icon"></div>
					<div class="count">2165</div>
				</div>
				<img
				data-lazy="https://tx2.a.yximgs.com/uhead/AB/2018/05/21/02/BMjAxODA1MjEwMjM3MzhfODM3MjE5Njg0XzFfaGQ5NV83MTk=_s.jpg"
				alt="你的子慕·🌛" class="avatar"
				src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"></a><a
				href="/photo/3xki6w577g2ifu4/3xkj3gg2i88t3kk/" logj="" class="item"><div
					title="..." style="padding-bottom: 177.77777777777777%;"
					data-lazy="https://tx2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzI4MTFfNTMxMDA2NDYwXzYzNzA5NjI1ODdfMV8z_Bf39868c50e94c39337d2fb037a423e41.jpg"
					class="img"></div>
				<div class="bar">
					<div class="icon"></div>
					<div class="count">303</div>
				</div>
				<img
				data-lazy="https://tx2.a.yximgs.com/uhead/AB/2017/10/12/19/BMjAxNzEwMTIxOTIzNDlfNTMxMDA2NDYwXzFfaGQ4ODFfNDg0_s.jpg"
				alt="遵化刘总" class="avatar"
				src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"></a><a
				href="/photo/3x5djjkithjwdry/3xtv8pki6gktzb4/" logj="" class="item"><div
					title="..." style="padding-bottom: 200%;"
					data-lazy="https://tx2.a.yximgs.com/upic/2018/05/21/09/BMjAxODA1MjEwOTQyMTVfMTk4MjM4MzkxXzYzNjg4NzE0MjhfMl8z_Bdd6d1a49e19972042de5223ffdf7f998.jpg"
					class="img"></div>
				<div class="bar">
					<div class="icon"></div>
					<div class="count">337</div>
				</div>
				<img
				data-lazy="https://tx2.a.yximgs.com/uhead/AB/2018/05/13/09/BMjAxODA1MTMwOTA1MzNfMTk4MjM4MzkxXzJfaGQzNjlfNjU3_s.jpg"
				alt="东莞豪车拍" class="avatar"
				src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"></a><a
				href="/photo/3xu4sq7ww34ub7w/3xj6u9msam8xfs4/" logj="" class="item"><div
					title="..." style="padding-bottom: 177.77777777777777%;"
					data-lazy="https://tx2.a.yximgs.com/upic/2018/05/19/20/BMjAxODA1MTkyMDA3NTJfMTk0NzM4MzYxXzYzNDY4MjMxODVfMl8z_B8efddfb28b6070382a8e4108e67ae148.jpg"
					class="img"></div>
				<div class="bar">
					<div class="icon"></div>
					<div class="count">313</div>
				</div>
				<img
				data-lazy="https://tx2.a.yximgs.com/uhead/AB/2016/02/14/09/BMjAxNjAyMTQwOTA0MjBfMTk0NzM4MzYxXzJfaGQ3NQ==.jpg"
				alt="天天食补" class="avatar"
				src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"></a>
		</div>
		<div class="col">
			<a href="/photo/3x5nm24fsr5ttqq/3xga27xh76hny5u/" logj=""
				class="item"><div
					title="晚上好！！

五二零是什么梗，和我啥关系！！

好好直播，好好弄作品呀。

你问过咋过？？

路过啊！！"
					style="padding-bottom: 56.25%;"
					data-lazy="https://tx2.a.yximgs.com/upic/2018/05/20/00/BMjAxODA1MjAwMDIzMTdfNTA5ODU5NjdfNjM1MDc4MTMwNl8xXzM=_B66cabe750e0874a50aed81c3ec9292c4.jpg"
					class="img"></div>
				<div class="bar">
					<div class="icon"></div>
					<div class="count">28392</div>
				</div>
				<img
				data-lazy="https://tx2.a.yximgs.com/uhead/AB/2018/03/29/15/BMjAxODAzMjkxNTIyMDBfNTA5ODU5NjdfMV9oZDIxMF85Mg==_s.jpg"
				alt="冬天（绝地求生）" class="avatar"
				src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"></a><a
				href="/photo/3xza6c4m3yepesq/3xjfjtmnyxdmive/" logj="" class="item"><div
					title="..." style="padding-bottom: 177.77777777777777%;"
					data-lazy="https://tx2.a.yximgs.com/upic/2018/05/20/10/BMjAxODA1MjAxMDAyMzVfNjg3NTk2OTAyXzYzNTQwMDc0MTZfMl8z_B42cb0dbcb3e0f30727e971339446101b.jpg"
					class="img"></div>
				<div class="bar">
					<div class="icon"></div>
					<div class="count">251</div>
				</div>
				<img
				data-lazy="https://tx2.a.yximgs.com/uhead/AB/2017/12/28/18/BMjAxNzEyMjgxODE2MjJfNjg3NTk2OTAyXzJfaGQ5MzJfNDQ1_s.jpg"
				alt="古水无波" class="avatar"
				src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"></a><a
				href="/photo/3xvpbaffieeahga/3xrkwxnd6emsfey/" logj="" class="item"><div
					title="喜欢双击加关注，感谢支持！

明天要返校了😂"
					style="padding-bottom: 178.2608695652174%;"
					data-lazy="https://tx2.a.yximgs.com/upic/2018/05/19/21/BMjAxODA1MTkyMTM2NDBfNzc1NTMwMzkzXzYzNDg0ODkyNjRfMl8z_B017168d061b210120956f713311215fa.jpg"
					class="img"></div>
				<div class="bar">
					<div class="icon"></div>
					<div class="count">474</div>
				</div>
				<img
				data-lazy="https://tx2.a.yximgs.com/uhead/AB/2018/05/11/15/BMjAxODA1MTExNTI0NDZfNzc1NTMwMzkzXzJfaGQ4MTJfMzU=_s.jpg"
				alt="😄舞疯  小晗💖" class="avatar"
				src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"></a><a
				href="/photo/3x3kxgh6meqh28k/3x7ka5kbhngrtkc/" logj="" class="item"><div
					title="..." style="padding-bottom: 177.77777777777777%;"
					data-lazy="https://tx2.a.yximgs.com/upic/2018/05/21/08/BMjAxODA1MjEwODI3MjRfNjk4ODk5NDBfNjM2ODM4MjcxNl8xXzM=_Bd52effce9ad7284669f16b0e7a269c90.jpg"
					class="img"></div>
				<div class="bar">
					<div class="icon"></div>
					<div class="count">264</div>
				</div>
				<img
				data-lazy="https://tx2.a.yximgs.com/uhead/AB/2018/02/01/07/BMjAxODAyMDEwNzE4MjZfNjk4ODk5NDBfMV9oZDk4Nl84Njg=_s.jpg"
				alt="传奇邱大侠" class="avatar"
				src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"></a><a
				href="/photo/3xkin9v3ak3xxja/3xwzjvqkyw5vtaq/" logj="" class="item"><div
					title="啦啦啦 等下去河里看看 抓抓水蜈蚣 那玩意味道好"
					style="padding-bottom: 177.77777777777777%;"
					data-lazy="https://tx2.a.yximgs.com/upic/2018/05/21/10/BMjAxODA1MjExMDI4NDJfOTMyNzAxMzE2XzYzNjkyMzM4NjZfMV8z_Bb5d1009a9e31b95ced0a65829830b261.jpg"
					class="img"></div>
				<div class="bar">
					<div class="icon"></div>
					<div class="count">118</div>
				</div>
				<img
				data-lazy="https://tx2.a.yximgs.com/uhead/AB/2018/04/28/09/BMjAxODA0MjgwOTM3MjJfOTMyNzAxMzE2XzFfaGQ5MjFfMzU3_s.jpg"
				alt="农村精彩户外" class="avatar"
				src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"></a>
		</div>
	</div>
	<div class="play_right_tip">特别提示：作品由用户分享，快手仅提供发布平台</div>
	<div class="play_download_holder"></div>
	<div id="download_bar" style="display: none" logp="底部"
		class="play_download_bar">
		<a data-position="footer" data-scheme-url="kwai://home/hot"
			log="打开快手bar" class="play_download _download"><div class="icon"></div>
			<div class="text">打开快手，发现更多精彩</div>
			<div class="arrow"></div></a>
	</div>
	<div id="download_pop" class="hide">
		<div class="play_download_pop_bg"></div>
		<div class="play_download_pop_box">
			<div class="h1">下载快手</div>
			<div class="h2">查看更多有意思的视频</div>
			<div class="img"></div>
			<div class="btns">
				<div class="btn cancel _cancel">忽略</div>
				<div data-position="popup"
					data-universal-link="https://m.ssl.kuaishou.com/app/home/hot"
					data-scheme-url="kwai://home/hot" class="btn _download">立即下载</div>
			</div>
		</div>
	</div>
	<script>
		var pageLogId = 123
	</script>
	<script type="text/javascript"
		src="//static.yximgs.com/s1/js/dep/bundle/zep_fast_req_underscore.js"></script>
	<script type="text/javascript" data-page-tag="视频分享"
		src="//static.yximgs.com/s1/js/modules/ks-log/index-01b846c579.js"></script>
	<script type="text/javascript"
		src="//static.yximgs.com/s1/js/dep/scroload.js"></script>
	<script type="text/javascript"
		src="//static.yximgs.com/s1/archive/lib/KsWebBridge-0.0.6.js"></script>
	<script>
		// 老的IOS客户端会调这个函数
		window.setIosEnviroment = function() {
		};
		// require 配置
		require.config({
			baseUrl : '//static.yximgs.com/s1/js',
			paths : {
				wx : '//res.wx.qq.com/open/js/jweixin-1.2.0',
				'ks-mui' : 'dep/ks-mui'
			}
		});

		// FastClick绑定
		if (!window.banFastClick && 'addEventListener' in document) {
			document.addEventListener('DOMContentLoaded', function() {
				FastClick.attach(document.body);
			}, false);
		}
	</script>
	<script>
		var pageData = {
			"autoPlay" : false,
			"video" : {
				"id" : "5240501123750513658",
				"src" : "https://txmov2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzAzMDFfNjYwNzQxMTkzXzYzNzA2OTI4NTNfMl8z_b_B5eab31003662a22851c6ccf8c4a78beb.mp4",
				"fileType" : "video/mp4",
				"poster" : "https://tx2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzAzMDFfNjYwNzQxMTkzXzYzNzA2OTI4NTNfMl8z_B92d628321124b8d627441965166849dd.jpg",
				"caption" : "吹黑了！！！",
				"type" : "video",
				"imageCDN" : null,
				"images" : null,
				"width" : 540,
				"height" : 960
			},
			"user" : {
				"avatar" : "https://tx2.a.yximgs.com/uhead/AB/2018/05/07/20/BMjAxODA1MDcyMDEwMTlfNjYwNzQxMTkzXzJfaGQ5MDhfMjA=_s.jpg",
				"name" : "独特你范姐",
				"id" : 660741193,
				"sex" : "F"
			},
			"share" : {
				"title" : "独特你范姐 发了一个快手作品，一起来看！",
				"link" : "http://m.kuaishou.com/photo/660741193/5240501123750513658?share_times=2",
				"desc" : "吹黑了！！！",
				"imgUrl" : "https://tx2.a.yximgs.com/upic/2018/05/21/13/BMjAxODA1MjExMzAzMDFfNjYwNzQxMTkzXzYzNzA2OTI4NTNfMl8z_B92d628321124b8d627441965166849dd.jpg",
				"extLog" : "shareId=&docId=&shareType=&groupName=",
				"type" : "video"
			}
		}
	</script>
	<script src="//static.yximgs.com/s1/js/pages/play/play-91614ce6f4.js"></script>
</body>
</html>