<!DOCTYPE html>
<head lang="zh-CN">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent">
<meta name="format-detection" content="telephone=no" />
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<title>请登录</title>
<link rel="stylesheet" type="text/css" href="../../view/assets/css/login.css" />
<link rel="stylesheet" type="text/css" href="../../view/assets/css/publice.css" />
<script type="text/javascript" language="javascript"
	src="../../view/assets/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" language="javascript"
	src="../../view/assets/js/md5.js"></script>
<script type="text/javascript" language="javascript"
	src="../../view/js/common.js"></script>	
<script>
	//判断屏幕宽度计算字号大小

	(function(doc, win) {
		var docEl = doc.documentElement, resizeEvt = 'orientationchange' in window ? 'orientationchange'
				: 'resize', recalc = function() {
			var clientWidth = docEl.clientWidth;
			if (!clientWidth) {
				return;
			}
			docEl.style.fontSize = 100 * (clientWidth / 375) + 'px';
		};
		if (!doc.addEventListener) {
			return;
		}
		win.addEventListener(resizeEvt, recalc, false);
		doc.addEventListener('DOMContentLoaded', recalc, false);
		recalc();
	})(document, window);
</script>

<style type="text/css">
.form-sent {
	margin-bottom: 0;
}
</style>
</head>
<body>
	<div class="send-code">
		<div class="form-hd">
			<h2 class="form-tit">请登录您的兔聊号</h2>
		</div>
			<div class="form form-sent">
				<div class="form-item">
					<div class="txt">
						<input type="number"
							class="basic-ipt js_phone js_login js_login_phone_input"
							placeholder="输入手机号" oninput="checkinput(event);" name="username"
							id="username"></input>
					</div>
				</div>
				<div class="form-item">
					<div class="txt">
						<input type="password"
							class="basic-ipt js_key js_login_code_input" placeholder="输入登录密码"
							oninput="checkinput(event);" name="password" id="password"></input>
						<input type="hidden" name="hiddenpwd" id="hiddenpwd" />
					</div>
				</div>

				<div style="height: 0.2rem">
					<span class="js_login_warring red" id="js_warring"></span>
				</div>
			</div>

			<div class="form-btn">
				      <a href="javascript:void(0);"  onclick="login()" class="btn btn-primary submit js_submit js_login_submit" id="login_submit">登录</a>
<!-- 				<input type="button"  id="login_submit" onclick="login();" -->
<!-- 					class="btn btn-primary submit js_submit js_login_submit" value="登录"> -->
			</div>
	</div>
	<script type="text/javascript">
		var mycode="";
// 		$(function(){
// 			mycode = getURLParameter("code");
// 			$.ajax({
// 				url : "../../view/account/checkUserLogin/", // 新版JSAPI_ForVer3.X  
// 				type : "POST",
// 				data : {},
// 				dataType : "json",
// 				success : function(data) {
// 					if(data.un && data.pw){
// 						test(mycode,data.un,data.pw);	
// 					}
// 				},
// 				error : function(x, h, e) {
// 					alert("error");
// 				}
// 			});
// 		});
	
		function checkinput(event) {
			var un = document.getElementById("username");
			var pw = document.getElementById("password");
// 			window.alert(un.value+"----"+pw.value);
			if (un.value == "" || pw.value == "") {
				document.getElementById("login_submit").style.background = "#e6e6e6";
// 				document.getElementById("login_submit").onclick = function() {
// 					return false;
// 				}
			} else {
				document.getElementById("login_submit").style.background = "#fd8d29";
// 				document.getElementById("login_submit").onclick = function() {
// 					return true;
// 				}
			}
		}
		function login() {
			var un = $("#username").val();
			var pw = $("#password").val();
			mycode = getURLParameter("code");
			if (un.value == "" || pw.value == "") {
				return false;
			}
			var password = hex_md5(pw);
			var url = "../../view/account/userLogin";
			var params = {};
			params.mobile=un;
			params.password=password;
			params.mycode=mycode;
			jQuery.ajax( {  
		          type : 'POST',  
		          contentType : 'application/json',  
		          url : url,  
		          data:JSON.stringify(params),//json序列化   
// 				  data:{name:"xx",pwd:"ss",code:"fff"},
		          datatype:"json", //此处不能省略   
		          contentType: "application/json; charset=utf-8",//此处不能省略   
		          success : function(data) {  
		        	  if(data.status=="ok"){
		        		  window.location.href="../../view/weixinopen/recharge_back.html?cid="+data.customerId+"&cname="+data.nickName+"&bal="+data.rechargeBal+"&code="+data.code;	  
		        	  }else{
		        		  $.ajax({
		      				url : "../../view/account/login/", //
		      				type : "POST",
		      				data : {},
		      				dataType : "json",
		      				success : function(data) {
		      				},
		      				error : function(x, h, e) {
		      				}
		      			});
		        		  $("#js_warring").text("账号密码错误");
// 		        		  window.location.href="../../view/weixinopen/login1-weixin.html";
// 		        		  location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx1ff5ef37556f8347&redirect_uri=http%3a%2f%2fp2pcluster.folkcam.cn%2fview%2faccount%2flogin&response_type=code&scope=snsapi_base&state=123#wechat_redirect";
		        	  }
					
		          },  
		          error : function(data) {  
		        	  alert("error");
		        	  location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxd7555f83fe7e0627&redirect_uri=http%3a%2f%2fp2pcluster.folkcam.cn%2fview%2faccount%2flogin&response_type=code&scope=snsapi_base&state=123#wechat_redirect";
// 	        	    window.location.href="../../view/weixinopen/login1-weixin.html";
		          }   
		        });  
		}
		
		function test(o1,o2,o3){
			var url = "../../view/account/userLogin";
			var params = {};
			params.mobile=o2;
			params.password=o3;
			params.mycode=o1;
			jQuery.ajax( {  
		          type : 'POST',  
		          contentType : 'application/json',  
		          url : url,  
		          data:JSON.stringify(params),//json序列化   
//				  data:{name:"xx",pwd:"ss",code:"fff"},
		          datatype:"json", //此处不能省略   
		          contentType: "application/json; charset=utf-8",//此处不能省略   
		          success : function(data) {  
// 		        	  alert(data.status);
		        	  if(data.status=="ok"){
		        		  window.location.href="../../view/weixinopen/recharge_back.html?cid="+data.customerId+"&cname="+data.nickName+"&bal="+data.rechargeBal+"&code="+data.code;	  
		        	  }else{
		        		  window.location.href="../../view/weixinopen/login1-weixin.html";
		        	  }
					
		          },  
		          error : function(data) {  
	        	    window.location.href="../../view/weixinopen/login1-weixin.html";
		          }   
		        });  
		}
		
		function getURLParameter(param) {
			var url = "";
			try {
				url = window.location.href;
			} catch (e) {
				url = document.URL;
			}
			for (;;) {
				if (url.endWith && url.endWith('#')) {
					url = url.substring(0, url.length - 1);
				} else {
					break;
				}
			}

			var params = (url.substr(url.indexOf("?") + 1)).split("&");

			if (params != null) {
				for (var i = 0; i < params.length; i++) {
					var strsName = params[i].substr(0, params[i].indexOf("="));
					var strsValue = params[i]
							.substr(params[i].indexOf("=") + 1);
					if (strsName == param) {
						return strsValue;
					}
				}
			}
			return "";
		}
	</script>


</body>
</html>
